.u-section-1 {
  background-image: url("images/ggg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-shape-1 {
  height: 333px;
  width: 716px;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
  margin: 60px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -260px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 83px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-shape-1 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    width: 456px;
    margin-top: -242px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-shape-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    width: 280px;
    margin-top: -187px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}